  
      #navbar a:hover {
        color: white;
      }
      #navbar a {
        cursor: pointer;
      }
      h1{
        font-weight: bold;
        font-style: inherit;
        color: maroon;
        text-align: center;
      }
        #container{
            margin:auto ;
            /* border:1px solid gray; */
            height: 700px;
            width:40%;
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
            padding: 30px;
            
            text-align: center;
            
        }
        label{
            margin: auto;
            line-height: 50px;
            font-size:large;
            font-family: 'Poppins', sans-serif;
            font-family: 'Poppins', sans-serif;
            font-family: 'Poppins', sans-serif;
            font-weight: bolder;
            font-style: 70px;

        }
        #username{
            margin:auto;
           height: 50px;
           background-color:#f6fafc;
           width: 400px;
        
          
        }
        #email{
            margin:auto;
           height: 50px;
           background-color:#ebf1f4;
           width: 400px;
           color: gray;
        }
        #password{
           margin:auto;
            height: 50px; 
            background-color: #ffffff;
            width:400px;
            /* border-radius: 4px; */
            color: gray;
        }
        h2{
            text-align: center;
           font-weight: bolder;
           color: rgb(66, 19, 19);
           font-size:x-large;
        }
        h3{
            text-align: center;
           font-weight: bolder;
           color: gray;
           font-size:x-large;
        }
        #btn{ 
            background-color: rgb(4, 162, 248);
            color:white;
            margin-top: 20px;
            margin-left:100px;
            border-radius: 3px;
            width: 200px;
            height: 30px;
           font-weight: bold;
           padding: 20px 30px 30px 30px;
           margin:auto;
           margin-top:30px;
           border:0px;
           font-size: 20px;
        }